<h1>Hi Trezza</h1>

<a href="intent://www.google.com/calendar/event?action=TEMPLATE&dates=20230505T100000Z/20230505T110000Z&text=Turno%20Medico%20CARDIOLOGIA&details=Consulta%20Cardiologia%20HA&location=Av.%20Pueyrred&oacute;n%201640,%20C1118AAT%20CABA,%20Argentina&ctz=America/New_York#Intent;scheme=https;package=com.google.android.calendar;end">Launch calendar app with Date:2023/05/05, Time:7:00 to 8:00, Title:Turno Medico CARDIOLOGIA, Description: Consulta cardiologia HA, Location: HA TimeZone NewYork 35</a>
<br>
<br>
<a href="intent://www.google.com/calendar/event?action=TEMPLATE&dates=20230505T100000Z/20230505T110000Z&text=Turno%20Medico%20CARDIOLOGIA&details=Consulta%20Cardiologia%20HA&location=Av.%20Pueyrred&oacute;n%201640,%20C1118AAT%20CABA,%20Argentina&ctz=America/Buenos_Aires#Intent;scheme=https;package=com.google.android.calendar;end">Launch calendar app with Date:2023/05/05, Time:7:00 to 8:00, Title:Turno Medico CARDIOLOGIA, Description: Consulta cardiologia HA, Location: HA TimeZone Buenos Aires 34</a>
<br>
<br>
<a href="intent://www.google.com/calendar/event?action=TEMPLATE&dates=20230505T100000Z/20230505T111000Z&text=Title%20of%20Event&details=Description%20of%20Event&location=Home&trp=true#Intent;scheme=https;package=com.google.android.calendar;end">Launch calendar app with Date:2023/05/05, Title:Title of Event, Description: Description of Event 32</a>
<br>
<br>
<a href="intent://www.google.com/calendar/event?action=TEMPLATE&dates=20230505T101000Z/20230505T111000Z&location=Home&trp=true#Intent;scheme=https;package=com.google.android.calendar;end">Launch calendar app with event on 2023/05/05, location =HOME 16</a>
<br>
<br>
<a href="intent://www.google.com/calendar/event#Intent;scheme=https;package=com.google.android.calendar;end">Open calendar app </a>
<br>
<br>
<a href="intent://scan/#Intent;scheme=zxing;package=com.google.zxing.client.android;end">take a Que Code </a>
<br>

<br>
<br>
<h3>Documentación consultada</h3>
<a href="https://developer.chrome.com/docs/multidevice/android/intents/#considerations">Crear un intent para disparar una app nativa desde chrome</a>
<br>
<a href="https://stackoverflow.com/questions/42936576/open-android-calendar-with-intent-from-web-chrome">Browsable category para calendar app</a>
<br>
<a href="https://developer.android.com/guide/topics/providers/calendar-provider?hl=es-419#intents">Calendar Provider (android)</a> 
<br>
<a href="https://developer.android.com/guide/components/intents-filters?hl=es-419#extras">Intent con data extra(info evento)</a>


<h4>Intentos fallidos</h4>
    <br>
    <br>
    <a href="intent://www.google.com/calendar/event?action=VIEW&dates=20220505T121001Z/20220501/122001Z&description=New%20Year's%20Day%202022&location=Home&trp=true#Intent;scheme=https;package=com.google.android.calendar;end">Open calendar app and view event data. 1 </a>
    <br>
    <br>
    <a href="intent://www.google.com/calendar/event?action=TEMPLATE&dates=20220505T121001Z/20220501T122001Z&description=nuevoTurno&location=Home&trp=true#Intent;scheme=https;package=com.google.android.calendar;end">Open calendar app with event data 3 </a>
    <br>
    <br>